.categories{
  display: grid;
  grid-template-rows: repeat(2, 150px);
  grid-auto-flow: column;
  grid-auto-columns: 120px;
  width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  background: #f9f9f9;
  padding: 10px;  
}
.categories li {
  list-style: none;
  background-color: #ede4e4;
  flex-shrink: 0; 
}